aside.main-sidebar
  .user-panel
    .pull-left.image
      img(src='/images/logo.png', alt='E2E testing')
    .pull-left.info
      p Websocket connection
      .user-panel__status.js-online
        i
        span Offline
  ul.nav.sidebar-menu
    li.header
      | Main Navigation
    li
      a(href="/")
        | Launch tests
    li.header
      | Test results
    li.sidebar-menu__logos
      a(href="/results/project1/")
        img(src='/images/project-logos/logo.png', alt='project1')
    li.sidebar-menu__logos
      a(href="/results/project2/")
        img(src='/images/project-logos/logo.png', alt='project2')

